<!-- <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../images/theatre_icon.png" alt="Logo" width="60" height="48"
                class="d-inline-block align-items-xxl-center">
            Che Opera!
        </a>
        <div class="d-flex gap-2">
            <a class="btn btn-outline-success" onclick="">Home</a>
            <a class="btn btn-outline-success" href="teatri.html">Teatri</a>
            <a class="btn btn-outline-success" href="spettacoli.html">Spettacoli</a>
            <a class="btn btn-outline-success" href="prenotazioni.html">Prenotazioni</a>
        </div>
    </div>
</nav> -->

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" onclick="loadPage('home'); return false;">
            <img src="../images/theatre_icon.png" alt="Logo" width="60" height="48"
                class="d-inline-block align-items-xxl-center">
            Che Opera!
        </a>
        <div class="d-flex gap-2">
            <a class="btn btn-outline-success" href="#" onclick="loadPage('home'); return false;">Home</a>
            <a class="btn btn-outline-success" href="#" onclick="loadPage('teatri'); return false;">Teatri</a>
            <a class="btn btn-outline-success" href="#" onclick="loadPage('spettacoli'); return false;">Spettacoli</a>
            <a class="btn btn-outline-success" href="#"
                onclick="loadPage('prenotazioni'); return false;">Prenotazioni</a>
        </div>
    </div>
</nav>